* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: hsl(185, 75%, 39%);
  position: relative;
}

.container {
  background-color: white;
  width: 350px;
  height: 372px;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-40%, 50%);
}
